In [1]:
import pandas as pd

### Simulation Logs

In [2]:
folder_path = 'C:/_code/py/air/abides_open_source/abides/'

In [3]:
orderbook_log_df = pd.read_pickle(folder_path + 'log/1560778365/orderbook_AAPL.bz2', compression='bz2')
summary_log_df = pd.read_pickle(folder_path + 'log/1560778365/summary_log.bz2', compression='bz2')

In [4]:
market_replay_agent_log_df = pd.read_pickle(folder_path + 'log/1560778365/Market_Replay_Agent.bz2', compression='bz2')
exchange_agent_log_df = pd.read_pickle(folder_path + 'log/1560778365/Exchange_Agent.bz2', compression='bz2')

In [5]:
summary_log_df

   AgentID  AgentStrategy   Event            EventType
0        1       10000000  100000        STARTING_CASH
1        2       10000000  100000        STARTING_CASH
2        1       10000000  100000  FINAL_CASH_POSITION
3        1       10000000  100000          ENDING_CASH
4        2       10000000  100000  FINAL_CASH_POSITION
5        2       10000000  100000          ENDING_CASH

In [6]:
orderbook_log_df.head(10)

                            Volume
time                quote
2012-06-21 09:30:01 500.00     0.0
                    500.01     0.0
                    500.02     0.0
                    500.03     0.0
                    500.04     0.0
                    500.05     0.0
                    500.06     0.0
                    500.07     0.0
                    500.08     0.0
                    500.09     0.0

In [7]:
market_replay_agent_log_df.head()

                                                     Event         EventType
EventTime
NaT                                               10000000        AGENT_TYPE
NaT                                                 100000     STARTING_CASH
2012-06-21 09:30:00.000000                {'CASH': 100000}  HOLDINGS_UPDATED
2012-06-21 09:30:00.004261                          100000  MARKED_TO_MARKET
2012-06-21 09:30:00.004261  18.0 AAPL @ 585.32 == 10535.76    MARK_TO_MARKET

In [8]:
market_replay_agent_log_df.EventType.value_counts()

MARKED_TO_MARKET       377
MARK_TO_MARKET         188
FINAL_CASH_POSITION      1
FINAL_HOLDINGS           1
AGENT_TYPE               1
STARTING_CASH            1
ENDING_CASH              1
HOLDINGS_UPDATED         1
Name: EventType, dtype: int64

In [9]:
exchange_agent_log_df.EventType.value_counts()

ORDER_ACCEPTED                  184
BEST_BID                        184
LIMIT_ORDER                     184
BEST_ASK                        183
ORDER_CANCELLED                 131
CANCEL_ORDER                    131
MODIFY_ORDER                     27
REPLICATE_ORDERBOOK_SNAPSHOT      4
WHEN_MKT_CLOSE                    2
WHEN_MKT_OPEN                     2
AGENT_TYPE                        1
Name: EventType, dtype: int64